<div class="w-5">
  <a href="/login"><load ="/components/icons/arrow-left-short.html" /></a>
</div>

<div class="flex items-center justify-center p-24">
  <load ="/components/icons/Vector1.html" />
</div>

<div class="w-full px-4 bg-white">
  <form class="space-y-6" id="signupForm">
    <h5 class="font-semibold text-3xl text-gray-900 text-center">
      Signup to Your Account
    </h5>
    <div class="relative mb-6 text-gray-500  hover:border-black hover:text-black">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
      >
        <i class="bi bi-person-bounding-box"></i>
      </div>
      <input
        type="text"
        name="username"
        id="username"
        class="bg-gray-50 border border-transparent text-sm rounded-lg focus:ring-black focus:border-black block w-full ps-10 p-2.5"
        placeholder="Username"
        required
      />
    </div>

    <div
      class="relative mb-6 text-gray-500 hover:border-black hover:text-black flex justify-center items-center"
    >
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
      >
        <i class="bi bi-lock-fill"></i>
      </div>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
        class="bg-gray-50 border border-transparent text-sm rounded-lg focus:ring-black focus:border-black block w-full ps-10 p-2.5"
      />
      <button
        type="button"
        class="show-password absolute inset-y-0 end-0 flex items-center pe-3.5 cursor-pointer z-40"
        id="show-password"
      >
      <i class="bi bi-eye-slash" id="eye"></i>
      </button>
    </div>

    <button
      type="submit"
      class="absolute z-30 flex justify-center items-center -translate-x-1/2 rtl:space-x-reverse left-1/2 w-[380px] top-[800px] h-12 rounded-full bg-slate-600 hover:bg-black text-white whitespace-nowrap p-4 font-medium text-sm"
    >
      Sing in
    </button>
  </form>
  <div
    class="p-4 mt-6 text-sm text-red-800 rounded-lg bg-red-100 hidden"
    role="alert"
    id="signupFormError"
  ></div>
</div>

<a
  href="/login"
  class="font-bold text-center flex justify-center items-center cursor-pointer hover:underline p-5"
  >login</a
>

<script type="module" src="/components/signupForm/signupForm.js"></script>
