<div class="flex justify-between items-center w-full bg-[#F6F6F6] p-2">
  <span id="time"></span>
  <div class="flex justify-center items-center gap-1">
    <i class="bi bi-bar-chart-fill"></i>
    <i class="bi bi-wifi-2 text-2xl"></i>
    <i class="bi bi-battery-full"></i>
  </div>
</div>

<div class="w-full bg-[#F6F6F6]">
  <div class="w-full">
    <a href="/home"><load ="/components/icons/arrow-left-short.html" /></a>
  </div>
</div>

<div id="root" class=""></div>

<script type="module" src="/components/sneakers/sneaker.js"></script>


